@media (max-width: 1024px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 768px) {

}

@media (max-width: 767px) {

}

@media only screen and (min-width:568px) and (max-width: 767px) {

        .mobile_bg {
            width: 100%;
            background-image: url(../img/BackgroundLogin.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
            padding-top: 4%;
            height: 100vh;
        }

}

@media only screen and (min-width:320px) and (max-width: 567px) {

    .mobile_bg{
        width: 100%;
        background-image: url(../img/BackgroundLogin.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        padding-top: 4%;
        height: 100vh;
    }

}